<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dreamtale.ck.mapper.CkStatisticsMapper" >
    <!-- 根据日期时间段统业务员的计销售额排行 -->
    <select id="queryStatisticsMoney" resultType="com.dreamtale.ck.entity.json.CkSalesMoneyJson" parameterType="com.dreamtale.ck.entity.param.CkStatisticsQueryParam">
        SELECT
        ca.amount AS  amount,
        cu.`name` AS salesmanName,
        cu.id AS salesmanId,
        cu.phone AS salesmanPhone,
        ca.count AS salesmanCount,
        FROM
        ( SELECT ck.salesman_no, SUM( ck.amount ) AS amount, SUM( ck.count ) AS count FROM ck_order ck
        LEFT OUTER JOIN ck_product cp ON cp.id = ck.product_id
        <where>
            ck.status = 1
            <if test="startDate!=null">
                AND ck.create_time <![CDATA[ >= ]]> #{startDate,jdbcType=TIMESTAMP}
            </if>
            <if test="endDate!=null">
                AND ck.create_time <![CDATA[ < ]]> #{endDate,jdbcType=TIMESTAMP}
            </if>
            <if test="productType!=null">
                AND  cp.product_type = #{productType,jdbcType=VARCHAR}
            </if>
        </where>
        GROUP BY ck.salesman_no ) ca
        LEFT OUTER JOIN ck_user cu ON cu.id = ca.salesman_no
        ORDER BY
        ca.amount DESC,
        ca.count DESC
    </select>
    <!-- 根据日期时间段统计销量排行 -->
    <select id="queryStatisticsRanking" resultType="com.dreamtale.ck.entity.json.CkSalesRankingJson" parameterType="com.dreamtale.ck.entity.param.CkStatisticsQueryParam">
        SELECT
        cp.id AS productId,
        cp.`name` AS productName,
        cc.count AS productCount
        FROM
        ( SELECT co.product_id, SUM( co.count ) AS count FROM ck_order co
        LEFT OUTER JOIN ck_product cp ON cp.id = co.product_id
        <where>
            co.status = 1
            <if test="startDate!=null">
                AND co.create_time <![CDATA[ >= ]]> #{startDate,jdbcType=TIMESTAMP}
            </if>
            <if test="endDate!=null">
                AND co.create_time <![CDATA[ < ]]> #{endDate,jdbcType=TIMESTAMP}
            </if>
            <if test="productType!=null">
                AND  cp.product_type = #{productType,jdbcType=VARCHAR}
            </if>
        </where>
        GROUP BY co.product_id ) cc
        LEFT OUTER JOIN ck_product cp ON cp.id = cc.product_id
        ORDER BY
        cc.count DESC,
        cc.product_id ASC
    </select>
</mapper>